name: Test unit-converter-with-gui

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: "Tests on Python ${{ matrix.python-version }}"
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: Ivexx4/unit-converter-whit-gui

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Verify Tkinter availability
        run: python -c "import tkinter; print('Tkinter OK')"

      - name: Install pytest
        run: |
          python -m pip install --upgrade pip
          pip install pytest
      - name: Debug workspace
        run: |
          echo "Current directory:"
          pwd
          echo "Files:"
          dir
      - name: Run tests
        run: python -m pytest -v tests/